<p>personagens-page works!</p>
<table>
<tr>
    <th>NOME</th>
    <th>TIPO</th>
    <th>STAUS</th>
    <th>ESPÉCIE</th>
    <th>GÊNERO</th>
    <th>ORIGEM</th>
</tr>
<tr>
    <td>Morty Smith</td>
    <td></td>
    <td>Vivo</td>
    <td>Humano</td>
    <td>Masculino</td>
    <td>Terra</td>
</tr>
<tr>
    <td>Abadango Cluster Princess</td>
    <td></td>
    <td>Vivo</td>
    <td>Alien</td>
    <td>Feminino(a)</td>
    <td>Abadango</td>
</tr>
<tr>
    <td>Summer Smith</td>
    <td></td>
    <td>Viva</td>
    <td>Humana</td>
    <td>Feminino</td>
    <td>Terra</td>
</tr>
<tr>
    <td>Jerry Smith</td>
    <td></td>
    <td>Vivo</td>
    <td>Humano</td>
    <td>Masculino</td>
    <td>Terra</td>
</tr>
<tr>
    <td>Deliverance</td>
    <td></td>
    <td>Morto</td>
    <td>Robot</td>
    <td>Assexuado</td>
    <td>Midland Quasar</td>
</tr>
</table>
